apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: chpas.autoscalers.postmates.com
spec:
  group: autoscalers.postmates.com
  names:
    kind: CHPA
    plural: chpas
  scope: Namespaced
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            downscaleForbiddenWindowSeconds:
              format: int32
              maximum: 600
              minimum: 1
              type: integer
            maxReplicas:
              format: int32
              maximum: 1000
              minimum: 1
              type: integer
            minReplicas:
              format: int32
              maximum: 1000
              minimum: 1
              type: integer
            scaleTargetRef:
              properties:
                apiVersion:
                  type: string
                kind:
                  type: string
                name:
                  type: string
              required:
              - kind
              - name
              type: object
            scaleUpLimitFactor:
              format: double
              maximum: 10
              minimum: 1
              type: number
            scaleUpLimitMinimum:
              format: int32
              maximum: 20
              minimum: 1
              type: integer
            targetCPUUtilizationPercentage:
              format: int32
              maximum: 100
              minimum: 0
              type: integer
            tolerance:
              format: double
              maximum: 0.99
              minimum: 0.01
              type: number
            upscaleForbiddenWindowSeconds:
              format: int32
              maximum: 600
              minimum: 1
              type: integer
          required:
          - scaleTargetRef
          - maxReplicas
          type: object
        status:
          properties:
            currentCPUUtilizationPercentage:
              format: int32
              type: integer
            currentReplicas:
              format: int32
              type: integer
            desiredReplicas:
              format: int32
              type: integer
            lastScaleTime:
              format: date-time
              type: string
            observedGeneration:
              format: int64
              type: integer
          required:
          - currentReplicas
          - desiredReplicas
          type: object
  version: v1beta1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
